h1 {
  font-size: 50px;
  color: blue;
}
.paragraph {
  background-color: rgb(95, 218, 218);
  border: 2px solid red;
  padding: 10px;
  margin: 15px;
}
.product {
  width: fit-content;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  color: rgb(28, 31, 32);
  background-color: pink;
  border: 5px dotted blue;
}

div {
  display: inline-block;
}
.btn {
  padding: 14px 35px;
  background-color: black;
  color: white;
  font-size: 30px;
}

.data {
  background-color: lightgray;
  padding: 20px;
  width: fit-content;
  margin: 10px;
}
